    
    <div class="d-flex align-items-center" style="margin-top:30px;margin-bottom:30px;">
        <div class="separator" style="width:178px;"></div>
        <span class="separator-title mx-4">@Title</span>
        <div class="separator" style="width: 100%;"></div>
    </div>   

@code {
    [Parameter]
    public string Title { get; set; }
}
